 /* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body{
    background-image: linear-gradient(to right top, #051937, #241538, #3a0d30, #490622, #4f0a0f);
}
    
@media(max-width: 882px) {
    
}

.bottom{
    display: flex;                     
    /* flex-direction: row; */
    margin-top:20px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    align-items: center;
}

#logo{
    margin-top: 50px;
    display: flex;
    justify-content: center;

}


#component{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

p{
    font-size: larger;
    font-family: 'Barlow', sans-serif;
    color: white;
}

#b1{
    font-size: larger;
    font:bold;
    font-weight: 600;
    border-radius: 5px;
    background-image: linear-gradient(-45deg, #d0bd15 0%, #ffe600 100%);
    padding-inline: 50px;
    padding-block: 5px;
    margin: 10px;
}
#b2{
    font-size: larger;
    font:bold;
    font-weight: 600;
    border-radius: 5px;
    background-image: linear-gradient(-45deg, #d0bd15 0%, #ffe600 100%);
    padding-inline: 50px;
    padding-block: 5px;
    margin: 10px;
}
#b1:hover{
    background-image: linear-gradient(-45deg, #fff200 0%, #fff200 100%);
}
#b2:hover{
    background-image: linear-gradient(-45deg, #fff200 0%, #fff200 100%);
}
#b3{
    font-size: larger;
    font:bold;
    background-image: linear-gradient(-45deg, #cc3843 0%, #cb193f 100%);
    font-weight: 600;
    border-radius: 5px;
    padding-inline: 50px;
    color: white;
    padding-block: 5px;
    margin: 10px;
}
.text{
    border-right: 1px solid white;
     line-height: 35px; 
     width: 60%;
}
.my-img {
    width: 90%;
    height: 300px;
}
.my-logo{
    width:100%;
    height: 120px;
}

@media (max-width: 882px) {
    .bottom {
        flex-direction: column-reverse;
      }
    .text{
          width: 90% !important;
          border:none !important
      }
    .desktop-img {
        display: none !important;
    }
    .tab-logo{
        height: 320px;
        width: 85%;
    }
    .desktop-logo{
        display: none !important;
    }
    
    .my-img{
        height: 450px !important;
    }
    #logo-desk{
        height:160px !important ;
        width: 100% !important;
    }
}
@media (min-width: 882px) {
    .mobile-img {
        display: none !important;
        /* height: 400px !important; */
    }
    
}
@media (max-width:540px){
    .desktop-logo{
        display: none !important;
    }
    .mobile-logo{
        height: 180px;
    }
    .tab-logo{
        display: none !important;
    }
}

@media (min-width:541px){
    .mobile-logo{
        display: none !important;
    }
    
}
@media (min-width:882px){
    .tab-logo{
        display: none !important;
    }
}
nav{
    background-image: linear-gradient(to left, #07072a,#28060a);
}
#search{
    background:none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    border-radius: 0px;
}
#search:hover{
    border-bottom: 2px solid white;
}
a{
    font-family: 'Maven Pro', sans-serif;
    font-size: x-large;
}
@media (max-width:373px) {
    a{
        font-size: 6vw;
    }
}
#mainDiv{
    border-bottom: 1px solid white;
    display: flex; justify-content: center; flex-direction: column;
}
#btn{
    display: flex; flex-direction: row;
}
@media(max-width:354px){
#btn{
    flex-direction: column;
}
}
#btnMrg{
    margin-inline: 25px;
}

.dancing-message {
    display: inline;
    position: fixed;
    top: 96px;
    right: 20px;
    font-size: 15px;
    animation: dance 2s infinite;
    background-color: #f1f1f1;
    color: #333;
    padding: 7px;
    border-radius: 5px;
    /* border: 2px solid #ccc; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  @keyframes dance {
    0% { transform: translateY(0); }
    25% { transform: translateY(-10px); }
    50% { transform: translateY(0px); }
    75% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }
  .arrow {
    border-style: dashed;
    border-color: transparent;
    border-width: 0.2em;
    display: -moz-inline-box;
    display: inline-block;
    font-size: 100px;
    height: 0;
    line-height: 0;
    position: absolute;
    vertical-align: middle;
    width: 0;
    top: -95%;
    border-bottom-width: 0.2em;
    border-bottom-style: solid;
    border-bottom-color: #f1f1f1;
    left: 1.17em;
}

@media (max-width:363px){
    #prof{
        height: 40px;
        width: 40px;
    }
    #log{
        height: 40px;
        width: 40px;
    }
    .nav-link{
        padding: 0.5rem 0.5rem !important;
    }
    .navbar>.container-fluid{

    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: flex-end !important;
    }
}